<h2 mat-dialog-title fxLayoutAlign="center center">Quiz Creator</h2>

<mat-dialog-content>
    <form class="quiz-form">
        <mat-form-field appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select>
              <mat-option *ngFor="let level of levels" [value]="level.value">
                {{level.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>