<div>
    <div fxLayoutAlign="center center">
        <h1>Subjects</h1>
    </div>
    <div fxLayoutAlign="center center">
        <a class="new-subject" routerLink="/quiz-add" mat-raised-button>New</a>
    </div>

    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let subject of subjects">
            <button fxLayoutAlign="center center" mat-raised-button (click)="openDialog(subject)">
                {{subject.name}}
            </button>
        </div>
    </div>
</div>